.button {
    background: transparent;
    color: #ffda28;
    padding: 10px 20px;
    border-radius: 30px;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1.39px;
    border: none;
    min-width: 170px;
    transition: .2s;
    margin-right: 20px;
    border: 2px solid #ffda28;
}

.button:hover {
    background: #ffda28;
    color: #fff;
}

@media(max-width:800px) {
    .button {
        display: block;
        font-size: 14px;
    }
}