.button, input[type="submit"] {
    background: transparent;
    color: #ffda28;
    padding: 13px 22px;
    border-radius: 30px;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1.39px;
    border: none;
    min-width: 170px;
    transition: .2s;
    margin-right: 20px;
    border: 2px solid #ffda28;
    box-shadow: none;
    cursor: pointer;
    display: inline;
    font-weight: 500;
}

input[type="submit"] {
    margin-right: 0;
    margin-bottom: 5px;
    margin-top: 5px;
}

.button:hover, input[type="submit"]:hover {
    background: #ffda28;
    color: #fff;
}

@media(max-width:800px) {
    .button {
        display: inline-block;
        font-size: 14px;
    }
}